<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Box Icon -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!-- css importado -->
    <link rel="stylesheet" href="../style/style.css">
</head>
<body>

    <header>
        <a href="#" class="logo"></a>
        <nav>
            <a href="Home"> Home </a>
            <a href="Services"> Serviços </a>
            <a href="Portifolio"> Portifolio </a>
            <a href="Contact"> Contato </a>
            <a href="About"> Sobre </a>
        </nav>
    </header>

    <!-- Section da Home -->
    <section id="home">
        <div class="home_content">
            <h3>Olá, me chamo</h3>
            <h1>Matheus Lopes</h1>
            <h3> sou <span>Desenvolvedor Júnior</span> e estudante de <span>Engenharia de Software</span></h3>
        
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Ea molestiae voluptate quam esse magni fuga fugiat culpa.
                Reprehenderit asperiores quos quasi iure error officia laborum!
            </p>
        </div>

        <div class="social_media">
            <a href="#"><i class='bx bxl-linkedin'></i></a>
            <a href="#"><i class='bx bxl-instagram'></i></a>
            <a href="#"><i class='bx bx-envelope'></i></a>
            <a href="#"><i class='bx bxl-whatsapp' ></i></a>
        </div>

        <button type="button"><a href="#" class="btn">Dowload CV</a></button>

        <div class="home_img">
            <img src="../img/profile.png" alt="Profile_picture">
        </div>

    </section>

    <!-- Section Services -->
    <section class="services" id="services">
        <h2>Our <span>Services</span></h2>

        <div class="container_card">
            <i class='bx bx-code-alt' ></i>
            <h3>Desenvolvimento Web</h3>

            <p>
               Lorem ipsum dolor sit amet consectetur adipisicing elit.
               Commodi maxime cupiditate repudiandae itaque similique repellendus 
               libero obcaecati mollitia doloribus dignissimos?
            </p>

            <button type="button"><a href="#" class="btn">Saiba mais</a></button>
        </div>

        <div class="container_card">
            <i class='bx bx-code-curly' ></i>
            <h3>Desenvolvimento Back-End</h3>

            <p>
               Lorem ipsum dolor sit amet consectetur adipisicing elit.
               Commodi maxime cupiditate repudiandae itaque similique repellendus 
               libero obcaecati mollitia doloribus dignissimos?
            </p>

            <button type="button"><a href="#" class="btn">Saiba mais</a></button>
        </div>

        <div class="container_card">
            <i class='bx bx-mobile-alt'></i>
            <h3>Desenvolvimento Mobile</h3>

            <p>
               Lorem ipsum dolor sit amet consectetur adipisicing elit.
               Commodi maxime cupiditate repudiandae itaque similique repellendus 
               libero obcaecati mollitia doloribus dignissimos?
            </p>

            <button type="button"><a href="#" class="btn">Saiba mais</a></button>
        </div>
    </section>

    <!-- Section Portifólio -->
    <section class="portifolio" id="portifolio">
        <div class="portifolio_container">
            <div class="portifolio_box">
                <img src="../img/01.jpg" alt="Portifolio_1">

                <div class="portifolio_layer">
                    <h4>Web developement</h4>

                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Delectus minus animi reiciendis. Similique, minima ullam!
                    </p>

                    <button type="button"><a href="#"><i class='bx bx-link-external'></i></a></button>
                </div>

            </div>
        </div>

        <div class="portifolio_container">
            <div class="portifolio_box">
                <img src="../img/02.jpg" alt="Portifolio_2">

                <div class="portifolio_layer">
                    <h4>Web developement</h4>

                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Delectus minus animi reiciendis. Similique, minima ullam!
                    </p>

                    <button type="button"><a href="#"><i class='bx bx-link-external'></i></a></button>
                </div>

            </div>
        </div>

        <div class="portifolio_container">
            <div class="portifolio_box">
                <img src="../img/03.jpg" alt="Portifolio_3">

                <div class="portifolio_layer">
                    <h4>Web developement</h4>

                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Delectus minus animi reiciendis. Similique, minima ullam!
                    </p>

                    <button type="button"><a href="#"><i class='bx bx-link-external'></i></a></button>
                </div>

            </div>
        </div>

        <div class="portifolio_container">
            <div class="portifolio_box">
                <img src="../img/04.jpg" alt="Portifolio_4">

                <div class="portifolio_layer">
                    <h4>Web developement</h4>

                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Delectus minus animi reiciendis. Similique, minima ullam!
                    </p>

                    <button type="button"><a href="#"><i class='bx bx-link-external'></i></a></button>
                </div>

            </div>
        </div>

        <div class="portifolio_container">
            <div class="portifolio_box">
                <img src="../img/05.jpg" alt="Portifolio_5">

                <div class="portifolio_layer">
                    <h4>Web developement</h4>

                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Delectus minus animi reiciendis. Similique, minima ullam!
                    </p>

                    <button type="button"><a href="#"><i class='bx bx-link-external'></i></a></button>
                </div>

            </div>
        </div>

        <div class="portifolio_container">
            <div class="portifolio_box">
                <img src="../img/06.jpg" alt="Portifolio_6">

                <div class="portifolio_layer">
                    <h4>Web developement</h4>

                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Delectus minus animi reiciendis. Similique, minima ullam!
                    </p>

                    <button type="button"><a href="#"><i class='bx bx-link-external'></i></a></button>
                </div>

            </div>
        </div>

        <div class="portifolio_container">
            <div class="portifolio_box">
                IMG

                <div class="portifolio_layer">
                    <h4>Web developement</h4>

                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Delectus minus animi reiciendis. Similique, minima ullam!
                    </p>

                    <button type="button"><a href="#"><i class='bx bx-link-external'></i></a></button>
                </div>

            </div>
        </div>
    </section>

    <!-- Section Contato -->
    <section class="contact" id="contact">
        <h2>Me <span>Contate!</span></h2>

        <form action="">
            <div class="input_box">
                <input type="text" placeholder="Nome" id="name">
                <input type="email" placeholder="E-mail" id="email">
            </div>

            <div class="input_box">
                <input type="number" placeholder="Telefone" id="phone_number">
                <input type="text" placeholder="Assunto" id="subject">
            </div>

            <textarea cols="30" rows="10" placeholder="Mensagem" id="message"></textarea>

            <button type="button"><a href="#">Enviar</a></button>
        </form>

    </section>

    <!-- Section Sobre -->
    <section class="sobre" id="contato">
            <div class="about_img">
                <img src="../img/profile.png" alt="Sobre mim">
            </div>

            <div class="about_content">
                <h3>Sobre Mim</h3>
                <h1>Full stack <span>Developer</span></h1>

                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Dolores sit nisi ratione mollitia odit iusto architecto labore 
                    molestiae, exercitationem totam minus numquam suscipit accusantium c
                    upiditate!
                </p>

                <button type="button"><a href="#" class="btn">Saiba mais</a></button>
            </div>
    </section>

    <!-- Footer -->
    <footer>
        <p>Copyright &copy; 2025 by &lt; Matheus lopes &gt; All right Reserved.</p>
    </footer> 
</body>
<!-- javascript importado -->
<script src="../js/script.js"></script>
</html>